<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <h1>Hello From Symfony</h1>
        {% block body %}{% endblock %}
        <h3>
            {{ number }}
        </h3>
        {% block javascripts %}{% endblock %}
    </body>
</html>
